
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/H-ui.admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/H-ui.admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/H-ui.admin/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>新建网站角色 - 管理员管理 - H-ui.admin v3.1</title>
    <meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
    <script>
        function Change(id) {
            var a = 0;
            $("input[name=cks_" + id + "]:checked").each(function () {
                a = a + 1;
            })
            if (a > 0) {
                $("#ck_" + id).attr("checked", true);
            }
            if (a == 0) {
                $("#ck_" + id).attr("checked", false);
            }
        }
        function Zong(id) {
            var a = document.getElementById("ck_" + id).checked;
            var ck = document.getElementsByName("cks_" + id);
            for (var i = 0; i < ck.length; i++) {
                ck[i].checked = a;
            }
        }
    </script>
</head>
<body>
    <article class="page-container">
        <form action="/Administrator/RoleInsert" method="post" class="form form-horizontal" id="form-admin-role-add">

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="roleName" name="roleName">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">角色状态：</label>
                <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                    <div class="radio-box">
                        <input name="state" type="radio" id="sex-1" value="1" checked>
                        <label for="sex-1">启用</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="sex-2" value="0" name="state">
                        <label for="sex-2">禁用</label>
                    </div>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">拥有权限：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @foreach (var item in ViewBag.zc as List<Permissions>)
                    {
                        <dl class="permission-list">
                            <dt>
                                <label>
                                    <input type="checkbox" value="@item.ID" name="user-Character-0" id="ck_@item.ID" onchange="Zong(@item.ID)">@item.Name
                                </label>
                            </dt>
                            <dd>
                                @foreach (var child in ViewBag.zr as List<Permissions>)
                                {
                                    if (child.PID == item.ID)
                                    {
                                        <dl class="cl permission-list2">
                                            <dd>
                                                <label class="">
                                                    <input type="checkbox" value="@child.ID" name="cks_@item.ID" onchange="Change(@item.ID)" id="user-Character-0">@child.Name
                                                </label>
                                            </dd>
                                        </dl>
                                    }
                                }
                            </dd>
                        </dl>

                    }
                    </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色描述：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="roledis" name="roledis">
                </div>
            </div>

            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    @*<i class="icon-ok"></i>*@
                <input type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save" value="&nbsp;&nbsp;确定&nbsp;&nbsp;">
            </div>
        </div>


        </form>
    </article>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="~/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/H-ui.admin/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/H-ui.admin/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/H-ui.admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/H-ui.admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/H-ui.admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/H-ui.admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">

	$("#form-admin-role-add").validate({
		rules:{
			roleName:{ 
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
        submitHandler: function (form) {
            var str = "";
            $("[name='user-Character-0']:checked").each(function () {
                str += $(this).val() + ',';
            })

            str = str.substring(0, str.length - 1);

            $(form).ajaxSubmit({
                type: 'post',
                url: '/Administrator/RoleAdd',
                data: {
                    RoleName: $("#roleName").val(),
                    Status: $("[name='state']:checked").val(),
                    Describe: $("#roledis").val(),
                    PerName:str
                },
                success: function (data) {
                    layer.msg('添加成功!', { icon: 1, time: 2000 })

                },

                error: function (XmlHttpRequest, textStatus, errorThrown) {
                    layer.msg('error!', { icon: 1, time: 1000 });
                }
            });
            window.parent.location.reload();
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
		}
	});
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
