
@{
    ViewBag.Title = "MyError";
}

<h2>MyError</h2>
<div>
    <div>
        @Model.Exception.GetType().Name<br />
        @Model.Exception.Message<br />
        @Model.ControllerName<br />
        @Model.ActionName<br />
        @Model.Exception.StackTrace<br />
    </div>
</div>

